@media (max-width: 992px){
    .navbar-collapse {
        background: #0062cc; 
        padding-left: 1rem;
    }
}
@media (max-width: 768px){
    .main-hero-content h1 {
        text-align: center;
    }
    .main-hero-content p{
        text-align: center;
    }
    .hero-buttons{
        text-align: center;
        padding-bottom: 2rem;
    }
}