/* body{ */
    /* color: white;
    font-family: poppinsregular;
    margin: 0 auto;
    padding: 15px; */
    
/*}*/
:root{
    --main-accent-color: #0062cc;
}

div.bloco{
    height: 98vh;
    background-repeat: no-repeat;
    position: relative;
    
}

div#q1{
    background-image: url('../components/images/peixe_boi.png'), url('../components/images/Right_Graphic.png');
    background-position:  right top;
    
}

div#q2{
    background-image: url('../components/images/amazonia_jacare.png'), url('../components/images/amazonia_onca.png'), url('../components/images/Left_Graphic.png');
    background-position:  left bottom;
    
}
/*  */

h1{
    font-weight: 200;
    font-family: poppinsmedium;
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.btn-white{
    border: 2px solid white;
    border-radius: 2rem;
    color: white;
    font-weight: 600;

    font-size: 1rem;
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.btn-black{
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
    padding-left: 1rem;
   
}
.btn-black:hover{
    border: 2px solid #0062cc;
    border-radius: 2rem;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
   
}
.btn-white:hover{
    background-color: aliceblue;
    color:black;
}
.play{
    margin-right: 10px;
}

.navbar{
    padding-top: 1.2rem;

}
.navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .85rem;
} 
.navbar-light .navbar-nav .nav-link:hover {
    color: #0062cc;

}
.navbar.active{
    background-color: #0062cc;
   
}
.row{
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    /* justify-content: space-between; */
    /* align-items: center;*/
}
#hero{
 background-image: url('../components/images/peixe_boi.png'), url('../components/images/Right_Graphic.png');
 background-position:  right top;
 background-repeat: no-repeat;
 padding-top: 8rem;
 padding-bottom: 20rem;
 position: relative;
}
#hero_left{
    background-image: url('../components/images/amazonia_onca.png'), url('../components/images/Left_Graphic.png');
    background-position:  left bottom;
    background-repeat: no-repeat;

   

}

.main-hero-content h1{
    color:black;
    text-transform: uppercase;
    letter-spacing: .11rem;

}

.main-hero-content p{
    color:black;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.section-title{
    position: relative;
}

h2.section-title-heading{
    color: black;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;/*s*/ 
}


.section-title::after{
    content: '';
    position: absolute;
    border-bottom: 2px solid #0062cc ;
    width: 8%;
    top: 80px;
}
.section-title:hover::after{
    width: 12%;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
}


#sobre i {
    color: var(--main-accent-color);
}

#sobre h3{
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#sobre p{
    color: rgb(83, 80, 80);
    font-weight: 1.7rem;
    font-size: 1rem;
}

#sobre{
    position: relative;
    padding-top: 8rem;
}

#visitacao{
    background-color: #fafafafa;
    padding-bottom: 6rem;
    margin-top: 3rem;

}
#visitacao .feature-block {
    text-align: center;
}
#visitacao .feature-block h3 {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#visitacao .feature-block img {
  padding: 1rem;

}

#visitacao .feature-block p {
    color: black;
    font-size: 1rem;
    line-height: 1.7rem;

}
#download{
    padding-bottom: 6rem;
}
#download .download-title h2{
    padding-top: 10rem;
    color:black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    
}
#download .download-title p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 2.5rem;
}
#download .download-title .download-btns{
    margin-top: 4rem;
}
#download .download-title .download-btns a{
    border: 2px solid  #0062cc;
    border-radius: 2rem;
    color:black;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem 2rem;
}

#download .download-title .download-btns a:hover{
    background-color: #0062cc;
    color: white;
    border: 2px solid #0062cc;
    text-decoration: none;
}

#cadastrar{
    background-color: white;
    padding-bottom: 5rem;
    padding-top: 8rem;
    position: relative;

}

.btn-cadastrar {
    border: 2px solid  #0062cc;
    border-radius: 2rem;
    color:black;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-cadastrar:hover {
    background-color: #0062cc;
    color: white;
    border: 2px solid #0062cc;
    text-decoration: none;
}
.contact-details ul li{
    padding-bottom: .8rem;
}
.contact-details ul li i{
    color: #0062cc;
}

#footer{
    background-color: #0062cc;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: relative;
}
#footer .footer-logo img{
    margin-top:  -4.5rem;
}

#footer .social-icons{
   margin-top: 10px;

}
#footer .social-icons a{
    margin-right: 10px;
    color:white ;
    
 }

 .copyright p{
    margin-top: 1rem;
    color: white;
    font-size: .9rem;

 }